* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color: white;
}

@media screen and (max-width: 1170px) and (max-height: 2532px) {
        body {
            background-image: url("./images/var3.jpg");
            background-size: cover;
        }
        
        .game-container {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .tile-container {
            left: 50%;
            margin-bottom: 3rem;
            padding-top: 6rem;
        }
        
        .key-container {
            width: 34.5rem;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 3rem;
        }
        
        .key-container button {
            /* width: 43px, height: 58px */
            width: 3rem;
            height: 4rem;
            border-radius: 4px;
            border: none;
            background-color: #818384;
            margin: .2rem;
            font-size: 1rem;
        }
        
        /* asdfghjkl */
        .key-container button:nth-child(11) {
            margin-left: 2rem;
        }
        
        /* enter and delete key */
        .key-container button:nth-child(20), 
        .key-container button:nth-child(28) {
            width: 4.8rem;
        }
        
        .tile-container div {
            display: flex;
        }
        
        .tile-container .tile {
            /* original size: 64px */
            width: 6rem;
            height: 6rem;
            background-color: #3a3a3c;
            opacity: .8;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .25rem;
            font-size: 3rem;
        }
        
        .message-container {
            height: 2rem;
            display: inline-block;
        }
        
        .message-container p {
            background-color: #ff0000;
            border-radius: 1.5rem;
            padding: 1.5rem;
            margin: 0;
            font-size: 3rem;
        }
        
        .tile.flip {
            animation: 0.5s linear flipping;
        }
        
        @keyframes flipping {
            0% {
                transform: rotateX(0deg);
            }
            50% {
                transform: rotateX(90deg);
            }
            100% {
                transform: rotateX(0deg);
            }
        }
        
        
        
        .grey-overlay {
            background-color: #3a3a3c !important;
            border:none !important;
        }
        .yellow-overlay {
            background-color: #b59f3a !important;
            border:none !important;
        }
        
        .green-overlay {
            background-color: #538d4e !important;
            border:none !important;
        }
        
}
